# Public npm registry for @iot-platform scoped packages.
# To switch to JFrog Artifactory, replace with:
#   @iot-platform:registry=https://<org>.jfrog.io/artifactory/api/npm/<repo>/
@iot-platform-saf:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
